<link rel="stylesheet" href="{{ url_for('static', filename='css/trivia.css') }}">
<h1>
<!-- style allows for color to be implemented in server output -->
<span style="color: #000000;">
200/OK <br>
</span>

</h1>
